//panel styles


.panel {
  background-color: $mainLighter;
  margin-top: 25px;
}

.panel__title {
  background-color: $mainDarker;
  padding: 10px;
}

.panel__menu {
  // padding: 15px;
}
//addtask panel
